.cart {
    margin: 45px $indentContent 0;
}

.cart__pages {
    display: flex;
    color: #3f4e65;
    line-height: 17px;
    font-weight: 300;
    font-size: 14px;

    .pages__main {
        border-right: 1px dashed #3f4e657e;
        padding-right: 5px;
    }

    .pages__current {
        margin-left: 5px;
        opacity: 0.5;
    }
}

.cart__title {
    margin-top: 50px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: #111111;
}

.cart__items {
    margin-top: 50px;
    border-bottom: 1px dashed #3f4e657e;
}

.items__item {
    padding-top: 50px;
    border-top: 1px dashed #3f4e657e;
    display: flex;
    margin-bottom: 50px;

    .item__image {
        width: 230px;
        height: 230px;
    }

    .item__info {
        max-width: 507px;
        min-width: 480px;
        margin-left: 20px;

        .info__size {
            display: flex;

            img {
            }

            .size__value {
                margin-left: 8px;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: #3f4e65;
            }
        }

        .info__description {
            margin-top: 9px;
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
            line-height: 36px;
            color: #111111;
        }

        .info__full-description {
            margin-top: 10px;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 18px;
            color: #3f4e65;
        }
    }

    .item__actions {
        display: flex;
        margin-left: auto;
        align-items: center;

        .actions__change-count {
            display: flex;
            align-items: center;
            height: 49px;
            border-left: 1px dashed #3f4e657e;
            border-right: 1px dashed #3f4e657e;
            padding-right: 44px;

            .change-count__decrease {
                margin-left: 44px;
            }

            .change-count__decrease,
            .change-count__increase {
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(
                    90deg,
                    rgba(255, 198, 80, 0.3) 0%,
                    rgba(254, 202, 110, 0.3) 97.25%
                );
                border-radius: 1000px;
                width: 34px;
                height: 23px;
                cursor: pointer;
            }

            .change-count__count {
                margin-left: 17px;
            }

            .change-count__increase {
                margin-left: 21px;
            }
        }

        .actions__price {
            display: flex;
            align-items: center;
            height: 49px;
            margin-left: 44px;
            border-right: 1px dashed #3f4e657e;
            font-weight: 900;
            font-size: 30px;
            line-height: 39px;
            color: #111111;
            padding-right: 44px;
        }

        .actions__delete {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ffc85e;
            border-radius: 79px;
            width: 59px;
            height: 59px;
            cursor: pointer;
            margin-left: 42px;
        }
    }
}

.cart__bottom {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    .cart__order {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffc85e;
        border-radius: 79px;
        cursor: pointer;
        width: 192px;
        height: 59px;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
    }

    .cart__price-all {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 30px;
        line-height: 130%;
        color: #111111;
    }
}
