@import 'variables';

.catalog {
    margin: 0 $indentContent;
}

.catalog__view {
    .view__top {
        display: flex;
        justify-content: space-between;
    }

    .view__left-part {
        display: flex;
    }

    .view__subpage {
        margin-top: 50px;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        text-transform: uppercase;
        color: #111111;
    }

    .view__add-product {
        margin: 0 0 5px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: end;
        width: 39px;
        height: 39px;
        background: #ffc85e;
        border-radius: 1000px;
        cursor: pointer;
    }

    .view__sort {
        display: flex;
        align-items: end;

        select {
            margin-left: 5px;
            appearance: none;
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 16px;
            color: #3f4e65;
            cursor: pointer;
        }

        .flip-horizontal {
            transform: rotate(180deg);
        }

        img {
            margin-left: 5px;
            cursor: pointer;
            margin-bottom: 5px;
        }
    }

    .view__bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }

    .view__filter-item {
        display: flex;
        text-align: center;
        min-width: 120px;
        max-width: 140px;
        height: 70px;
        background: #ffffff;
        box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
        border-radius: 10px;
        font-size: 14px;
        line-height: 17px;
        color: #3f4e65;
        cursor: pointer;

        span {
            margin: auto 15px;
            display: block;
        }
    }

    .view__filter-item-active {
        background: #ffc85e;
    }
}

.catalog__content {
    display: flex;
    justify-content: space-between;

    .list {
        flex-basis: 77.5%;
    }

    .filter {
        flex-basis: 20%;
    }
}
